
.kana-row{
    font-size: clamp(16pt, 2vw, 64pt);
    color:#1f1f1f;
}

.romaji-row{
    height: 3.5vmax;
    vertical-align: top;
    font-size: clamp(9pt, 1.2vw, 50pt);
    color:gray;
}

table{
    border-collapse: separate; 
    text-align: center;
    width: 30%;
}

/*
another color schemem option

.identifyer {
    color: #3c3c3c;
    background-color: #33ebbd;
    height: 30px;
} 
*/

.identifyer {
    color: #0F9482;
    height: 30px;
    /*row-gap: 100px;*/
    /*padding-top: 100px;*/
    border-spacing: 0 100px;
}
