.cards-button {
    margin: 30px;
    padding: 20px;
    border-radius: 50%;

    background: #e0e0e0;
    box-shadow:  7px 7px 13px #bebebe, 
    -7px -7px 13px #ffffff;

}

#card {
    width:200px;
    height: 100px;
    margin: 40px auto;
    padding: 100px 60px;
    border-radius: 45px;
    background: #e0e0e0;
    box-shadow:  14px 14px 22px #d0d0d0,
                -14px -14px 22px #ffffff;  
    font-size: 50pt;
}



button {
    all: unset
}

.arrow-button {
    padding: 5px 12px;
    border-radius: 50%;

    font-weight: bold;

    background: #e0e0e0;
    box-shadow:  3px 3px 6px #bebebe,
             -3px -3px 6px #ffffff;
}

.container{
    display: flex;    
}


.settings-icon{
	text-decoration: none;
	font-size: 18pt;
    font-weight: bold;
    color:#f3f3f6;
}

.settings-icon:hover{
   color:#c6c6c6;
}


/*
.arrow-prev{
    float: left;
}

.arrow-next{
    float: right;
}   
*/
