.cards-button {
    margin: 30px;
    padding: 20px;
    border-radius: 50%;

    background: #e0e0e0;
    box-shadow:  7px 7px 13px #bebebe, 
    -7px -7px 13px #ffffff;

}

/*.card {
    width:300px;
    height: 100px;
    border-radius: 45px;
    background: #e0e0e0;
    box-shadow:  14px 14px 22px #d0d0d0,
                -14px -14px 22px #ffffff;  
    font-size: 50pt;
}
*/



button {
    all: unset
}

.arrow-button {
    padding: 8px 15px;
    border-radius: 50%;

    font-weight: bold;

    background: #e0e0e0;
    box-shadow:  4px 4px 6px #bebebe,
             -4px -4px 6px #ffffff;
}

.arrow-button:active {
    transform: translateY(2px);

    background: #e0e0e0;
    box-shadow:  2px 2px 6px #bebebe,
             -2px -2px 6px #ffffff;
}



.container{
    display: flex;    
    margin-top: 4vh;

    flex-direction: row;
    height: 88vh;
    margin-bottom: auto;
}


.settings-icon{
	text-decoration: none;
	font-size: 18pt;
    font-weight: bold;
    color:#f3f3f6;
}

.settings-icon:hover{
   color:#c6c6c6;
}

.settings-icon:active {
    transform: translateY(2px);
}

.flip-card {
    background-color: transparent;
    width: 30%;
    /*height: 100%;*/
    perspective: 1000px;

    margin: 40px auto;
    align-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center; 
}
  
.flip-card-inner {
    position: relative;
    /*width: 420px;
    height: 300px;

    width: fit-content;
    height: fit-content;*/
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    display: flex;
    justify-content: center;
    align-items: center; 
}

.flip-card-front, .flip-card-back {
    border-radius: 45px;
    background: #e0e0e0;
    box-shadow:  14px 14px 22px #d0d0d0,
                -14px -14px 22px #ffffff;  
    font-size: clamp(40pt, 6vw, 72pt);
    
    padding: 13vh 20vw;
    
    position: absolute;
    -webkit-backface-visibility: hidden; /* for Safari */
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    width: 0;
    height: 0;
}

.flip-card-inner-flipped {
    transform: rotateY(180deg);
}
  
.flip-card-back {
    transform: rotateY(180deg);
}